header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff6a;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  width: 220px;
  /* height: 60px; */
}

nav ul {
  display: flex;
  gap: 20px;
}
nav li a {
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
}
